@import './lge-font.css';

html, body {font-family: 'LGSmHaR'; font-size: 14px; letter-spacing: -1px;}
.wrapper {max-width: 1600px; margin: auto; padding: 0 0.5rem; }
.wrapper2 {max-width: 1300px; margin: auto; padding: 0 0.5rem;}
.wrapper3 {max-width: 1414px; margin: auto; padding: 0 0.5rem; overflow: hidden;}

.disp_table {display: table;}
.disp_cell {display: table-cell; text-align: center; vertical-align: middle;}
.angle_rt::after {content: '＞'; display: inline-block;}


.pager_wrapper {text-align: center; margin: 2em 0 3em 0;}
.pager_wrapper > a {vertical-align: middle; margin: 0 0.25em; color: #ccc; transition: all 0.5s;}
.pager_wrapper > a.pager {display: inline-block; width: 18px; height: 18px; border: 2px solid #ccc; border-radius: 9px;}
.pager_wrapper > a.pager.active {border: 2px solid #ae1a4a; width: 28px; background-color: #ae1a4a;}
.pager_wrapper > a.bt_play.active {color: #ae1a4a;}
.pager_wrapper > a.bt_pause.active {color: #ae1a4a;}


.swiper-pagination{width: 100%; text-align: center; margin: 24px 0 36px 0; position: static;}
.swiper-pagination > .swiper-pagination-bullet {width: 18px; height: 18px; margin: 2px; outline: none; background-color: transparent; border: 2px solid #ccc; opacity: 1; border-radius: 9px; transition: all 0.5s;}
.swiper-pagination > .swiper-pagination-bullet-active {background-color: #ae1a4a; border-color: #ae1a4a; width: 28px;}

.bt-swiper {position: absolute; z-index: 9; top: 150px; font-size: 4em; color: #999; cursor: pointer; outline: none;}
.bt-swiper:hover {color: #444;}
.bt-swiper.bt_prev {left: 0;}
.bt-swiper.bt_next {right: 0;}

.wrapper3 > h3.title {font-size: 1.5em; text-align: center; line-height: 1.5; position: relative; margin-bottom: 2em;}
.wrapper3 > h3.title > span {border-bottom: 1px solid #999; display: inline-block;}
.wrapper3 > h3.title > .bt_more {position: absolute; top: 0; right: 0; font-size: 0.625em; color: #777; } 
.wrapper3 > h3.title > .bt_more::after {display: inline-block; box-sizing: border-box; content: '+'; width: 22px; height: 22px; border-radius: 50%; border: 1px solid #bbb; font-size: 1.75em; line-height: 22px; text-align: center; transform: translateY(3px);margin-left: 8px;} 

/************************** .header_wrapper *******************************/
.header_wrapper{}
	.top_wrapper {background-color: #333; padding: 1.5em 0  0.625em 0; display: none;}
	.top_wrapper ul.top_wrap {float: right; padding: 0.5em 0.875em; background-color: #ae1a4a; border-radius: 1.25em; }
	.top_wrapper ul.top_wrap li {float: left; color: #f8f8f8}
	.top_wrapper ul.top_wrap li:nth-child(2) { margin: 0 0.875em; opacity: .5;}

	.header_wrapper .navi_wrapper {background-color: #333; position: relative; z-index: 3;padding-top: 0.75em;}
	.header_wrapper .navi_wrapper .logo { width: 164px; height: 43px; float:left; background:url('../img/Common.png'); }
	.header_wrapper .navi_wrapper .logo a {display: inline-block; width: 100%; height:100%}
	/* a 태그는 inline width와 height를 가질 수 없다.*/
	.header_wrapper .navi_wrapper .navi_wrap {float: right; color: #f8f8f8; font-size: 1.25rem; display: none;}
	.header_wrapper .navi_wrapper .mb_navi_wrap {float: right; color: #f8f8f8; font-size: 1.75rem; padding: 0.5em 0 0.75em 0; cursor: pointer;}
	.header_wrapper .navi_wrapper .mb_navi_wrap > a {margin-left: 0.5em; vertical-align: middle;}
	.header_wrapper .navi_wrapper .mb_navi_wrap > a:not(:last-child) {font-size: 0.75em;}
	.header_wrapper .navi_wrapper .navi {float: left; padding: 0.875em 0.75em 1.75em 0.75em; height: 63px;}
	.header_wrapper .navi_wrapper .navi_wrap > .navi:hover { background-color: #ccc;}
	.header_wrapper .navi_wrapper .navi_wrap > .navi:hover > a {color: #333;}
	.header_wrapper .navi_wrapper .navi:hover > .sub_wrapper {z-index: 2; height: 380px;}
	.header_wrapper .navi_wrapper .navi:last-child > span {opacity: .5;}

	.sub_wrapper {position: absolute; top: 63px; left: 0; width: 100%; height: 0; background-image: linear-gradient(#ccc, #f1f1f1); transition: height 0.35s; overflow: hidden; z-index: 1; box-shadow: 0 6px 6px rgba(0, 0, 0, .6);}
	.sub_wrapper > .wrapper2 {height: 100%; padding: 1.5% 0; }
	.sub_wrapper > .wrapper2 > div{float: left; height: 100%; color: #333;}
	.sub_wrapper > .wrapper2 > div.sub_title{width: 25%; text-align: center;}
	.sub_wrapper > .wrapper2 > div.sub_title2{width: 100%;}
	.sub_wrapper > .wrapper2 > div.sub_wrap{width: 75%;}
	
	.sub_wrapper .sub_title h2 {font-size: 0.875em; line-height: 1.75;}
	.sub_wrapper .sub_title  h2 span {font-size: 1.25em; color: #ae1a4a;}
	.sub_wrapper .sub_title:hover a {text-decoration: underline;}

	.sub_wrapper .sub_wrap > div {border-left: 1px solid #bbb; float: left; height: 100%; padding: 0 1.25%;}
	.sub_wrapper .sub_wrap.sub_b2b  > div:not(:first-child) {border-left: 1px solid #bbb;margin-right: 0.4%;}
	.sub_wrapper .sub_wrap.sub_b2b  > div {float: left; height: 340px; padding: 0 1%; }
	.sub_wrapper .sub_signature > div {width: 33.3333%;}
	.sub_wrapper .sub_tv > div {width: 25%;}
	.sub_wrapper .sub_gram > div {width: 25%;}
	.sub_wrapper .sub_phone > div {width: 25%;}
	.sub_wrapper .sub_pral > div {width: 25%;}
	.sub_wrapper .sub_kitchen > div {width: 20%;} 
	.sub_wrapper .sub_air > div {width: 20%;} 
	.sub_wrapper .sub_app > div {width: 16.5%;}
	.sub_wrapper .sub_b2b > div {width: 12%;}


	.sub_wrapper .sub_navi {padding: 0.75em 0; line-height: 1.25;}
	.sub_wrapper .sub_navi:first-child  {padding: 0 0 0.75em 0;}
	.sub_wrapper .sub_navi::after {display: inline-block; content: '＞'; color: #ae1a4a; padding-left: 0.25em;}
	.sub_wrapper .sub_bookmark {margin: 1em 0;}
	.sub_wrapper .sub_bookmark::after {display: inline-block; content: ' ';  margin-left:  0.5em; width: 13px; height: 18px; background: url('../img/Common.png') no-repeat 0 -50px; vertical-align: bottom;}
	.sub_wrapper .sub_mt {margin: 1em 0;}

	.sub_wrapper .sub_prd {font-size: 0.8em; padding: 0.25em 0;}
	.sub_wrapper .sub_prd a:hover {text-decoration: underline;}
	.sub_wrapper .sub_prd > ul {padding: 0.5em 0;}
	.sub_wrapper .sub_prd > ul > .prd {font-size: 1.05em; color: #121212; float: left;}
	.sub_wrapper .sub_prd > ul > .prd::before {display: inline-block; content: '·'; padding: 0 0.25em 0 0.75em;}

	.navi_wrapper2 {background-color: #ae1a4a; color: #f9f9f9;}
	.navi_wrapper2 .icon_wrap {float: right; text-align: center;}
	.navi_wrapper2 .icon_wrap > .icon {display: inline-block; height: 32px; line-height: 32px; margin: 0.325em;}
	.navi_wrapper2 .icon_wrap > .icon:nth-child(4) {margin-right: 1em;}
	.navi_wrapper2 .icon_wrap img {vertical-align: middle; margin-right: 0.25em; width: 20px; }
	.navi_wrapper2 .icon_wrap span {font-weight: bold; margin-right: 0.25em;}

/************************** .main_wrapper *******************************/
.main_wrapper {max-width: 1900px; margin: auto; position: relative;}
	.main_wrapper .slide {padding-top: 80%; position: relative; height: 0; overflow: hidden;
		background-size: cover; background-repeat: no-repeat; background-position: center;}
	.main_wrapper .slide:nth-child(1) {background-image: url('../img/main01.jpg');}
	.main_wrapper .slide:nth-child(2) {background-image: url('../img/main02.jpg');}
	.main_wrapper .slide:nth-child(3) {background-image: url('../img/main03.jpg');}
	.main_wrapper .slide:nth-child(4) {background-image: url('../img/main04.jpg');}
	.main_wrapper .slide:nth-child(5) {background-image: url('../img/main05.jpg');}
	.main_wrapper .slide:nth-child(6) {background-image: url('../img/main06.jpg');}
	.main_wrapper .slide:nth-child(7) {background-image: url('../img/main07.jpg');}
	.main_wrapper .slide:nth-child(8) {background-image: url('../img/main08.jpg');}
	.main_wrapper .slide:nth-child(9) {background-image: url('../img/main09.jpg');}
	.main_wrapper .slide:nth-child(10) {background-image: url('../img/main10.jpg');}
	.main_wrapper .bt-swiper {top: calc(50% - 28px); color: #fff; text-shadow: 0 0 6px rgba(0, 0, 0, .5);}
	.main_wrapper .bt-swiper.bt_prev {left: 3%;}
	.main_wrapper .bt-swiper.bt_next {right: 3%;}
	.main_wrapper .slide > .content { font-size: 1.5em; position: absolute; top: 17.5%; left: 15%;}
	.main_wrapper .slide > .content > .slogan { padding: 1em 0; transition: all 1s;line-height: 1.25;}
	.main_wrapper .slide > .content > .slogan > br {display: block;}
	.main_wrapper .slide > .content > .brand {padding-bottom: 1em; transition: all 1s; }
	.main_wrapper .slide > .content > .brand > img {max-width: 60%; transition: all 1s;}
	.main_wrapper .slide > .content button {border: 1px solid #333; background-color: transparent; padding: 0.5em 2em; font-size: 1.125rem; outline: none; font-family: inherit;} 



	/************************** .link_wrapper *******************************/
	.link_wrapper {}
	.link_wrapper .link_wrap {margin-top: 1.5em; }
	.link_wrapper .link_wrap:first-child { width: 100%; margin-left: 0;}
	.link_wrapper .link_wrap:last-child { width: 100%; margin-left: 0;}
	.link_wrapper .link_wrap:first-child > li {width: 100%; margin: 1% 0;}
	.link_wrapper .link_wrap:last-child > li {width: 100%; margin: 1% 0;}
	.link_wrapper .link_wrap > li {float: left;  background-color: #000;}
	.link_wrapper .link_wrap > li img {transition: all 0.75s; opacity: .9;}
	.link_wrapper .link_wrap > li:hover img {opacity: 1;}

/************************** .best_wrapper *******************************/
.best_wrapper {text-align: center; }
.best_wrapper > .title_wrapper {padding-top: 3.5em; }
.best_wrapper > .slide_wrapper {margin-top: 1.5em; padding-bottom: 120px;}
.best_wrapper > .slide_wrapper {position: relative;}


.best_wrapper > .slide_wrapper > .slide_stage {width: calc(100% - 100px); margin: auto; height: 356px; }
.best_wrapper > .slide_wrapper .slide {border: 1px solid #ccc;}
/* 
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap {height: 100%;}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide {float: left; width: 100%; margin-right: 1%; height: 100%; border: 1px solid #ccc;}
*/
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > li {height: 280px; display: table; width: 100%;}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > li > div {display: table-cell; vertical-align: middle;}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > li > div > img {}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > div {height: 74px; padding-top: .5em;}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > div > .best_title{font-size: 1.125em; color: #333; line-height: 1.75;}
.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide > div > .best_cont{color: #777;} 


/************************** .evt_wrapper *******************************/
.evt_wrapper {background-color: #f8f8f8; padding: 5em 0;}
.evt_wrapper > .wrapper3 {overflow: hidden;}

.evt_wrapper .cont_wrapper {background-color: #fff; margin-bottom: 2em;}
.evt_wrapper .cont_wrapper > div {float: left;}
.evt_wrapper .cont_wrapper > div.banner_wrap {width: 100%; max-width: 800px;}
.evt_wrapper .cont_wrapper > div.cont_wrap {width: 100%; padding: 3%;}
.evt_wrapper .cont_wrapper > div.cont_wrap > h4.title {font-size: 1.5em;}
.evt_wrapper .cont_wrapper > div.cont_wrap > p.content {font-size: 1.25em; color: #777; line-height: 1.5; padding: 2em 0;}
.evt_wrapper .cont_wrapper > div.cont_wrap > div.date {font-size: 1.125em; padding-bottom: 2em;}
.evt_wrapper .cont_wrapper > div.cont_wrap > button.bt_detail {border: 1px solid #333; padding: 0.5em 2em; background-color: transparent; font-family: inherit; font-size: inherit; cursor: pointer; transition: all 0.25s;}
.evt_wrapper .cont_wrapper > div.cont_wrap > button.bt_detail:hover {background-color: #333; color: #f9f9f9;}
.evt_wrapper .list_wrapper {width: 100%;}
.evt_wrapper .list_wrapper > .list {float: left; width: 100%; background-color: #fff;}
.evt_wrapper .list_wrapper > .list > .cont_wrap {padding: 1.5em 0.5em; text-align: center; letter-spacing: -1px; line-height: 1.25;}
.evt_wrapper .list_wrapper > .list > .cont_wrap .title {font-size: 1.125em; padding: 0.5em 0;}
.evt_wrapper .list_wrapper > .list > .cont_wrap .content {color: #555; padding: 0.5em 0;}
.evt_wrapper .list_wrapper > .list > .cont_wrap .date {color: #555; padding: 0.5em 0;}
.evt_wrapper .list_wrapper > .list > .cont_wrap:hover > .title,
.evt_wrapper .list_wrapper > .list > .cont_wrap:hover > .content {text-decoration: underline;}

/************************** .info_wrapper *******************************/
.info_wrapper {padding: 5em 0; overflow: hidden;}
.info_wrapper > .info_wrap {margin-bottom: 3em;}
.info_wrapper > .info_wrap > .info {float: left; position: relative;}
.info_wrapper > .info_wrap > .info:nth-child(1) {width: 50%;}
.info_wrapper > .info_wrap > .info:nth-child(2) {width: 50%;}
.info_wrapper > .info_wrap > .info:nth-child(3) {width: 50%;}
.info_wrapper > .info_wrap > .info:nth-child(4) {width: 50%;}
.info_wrapper > .info_wrap > .info:nth-child(5) {width: 100%; display: none;}
.info_wrapper > .info_wrap > .info > .pop_wrap {position: absolute; background-color: rgba(0, 0, 0, .7); color: #f9f9f9; padding: 1em; bottom: 0%; left: 0; width: 100%; line-height: 1.5; text-align: center; font-size: 1.25em;}
.info_wrapper > .info_wrap > .info > .pop_wrap > span {display: none; }
.info_wrapper > .info_wrap > .info > .pop_wrap > br {display: none;}
.info_wrapper > .info_wrap > .info > .fa {color: #f9f9f9; font-size: 2em;position: absolute; display: none;}
.info_wrapper > .info_wrap > .info:first-child > .fa {top: 50%; left: 50%; transform: translateY(-50%, -50%);}
.info_wrapper > .info_wrap > .info:not(:first-child) > .fa { bottom: 10%; right: 3%; }

.info_wrapper > .sns_wrap {text-align: center;}
.info_wrapper > .sns_wrap > .divide {border: 1px solid #eee;}
.info_wrapper > .sns_wrap > .sns {display: inline-block; text-align: center; padding: 1em 0.5em;}
.info_wrapper > .sns_wrap > .sns > .title {color: #999; padding-top: 1em;}

/************************** .footer_wrapper *******************************/
.footer_wrapper {background-color: #333; color: #f9f9f9; line-height: 1.5; padding-bottom: 2em;}
.footer_wrapper .line {border-bottom: 1px solid #444;}
.footer_wrapper > .notice_wrapper {padding: 0.75em 0.5em;}
.footer_wrapper > .notice_wrapper img {vertical-align: middle; margin-right: 0.75em;}
.footer_wrapper a:hover {text-decoration: underline;}
.footer_wrapper > .navi_wrapper {padding: 1em 0.5em; margin-bottom: 0.5em;}
.footer_wrapper > .navi_wrapper > .navi_wrap {float: left; width: 100%; margin-bottom: 1em;}
.footer_wrapper > .navi_wrapper > .navi_wrap > .navi {float: left; width: 100%; margin-bottom: .5em;}
/* .footer_wrapper > .navi_wrapper > .navi_wrap > .navi:not(:last-child) {border-right: 1px solid #eee;} */
/* .footer_wrapper > .navi_wrapper > .navi_wrap > .navi:not(:last-child)::after {content: '|'; display: inline-block; padding: 0 1em;} */
.footer_wrapper > .navi_wrapper > .link_wrap {float: right; width: 100%; border-top: 1px solid#444; border-bottom: 1px solid#444; padding: 1em 0;}
.footer_wrapper > .navi_wrapper > .link_wrap > div {float: left;}
.footer_wrapper > .navi_wrapper > .link_wrap > div:first-child {padding-right: 2em;}
.footer_wrapper > .addr_wrapper {font-size: 0.925em; margin-bottom: 1em;}
.footer_wrapper > .addr_wrapper > .addr_wrap {float: left; width: 100%; margin-bottom: 1em;}
.footer_wrapper > .addr_wrapper > .cert_wrap {float: right; width: 100%; padding-top: 1em; border-top: 1px solid #444; border-bottom: 1px solid #444;}
.footer_wrapper > .addr_wrapper > .cert_wrap img {float: left; vertical-align: middle; transform: translateY(-12px);}
.footer_wrapper > .copy_wrapper {font-size: 0.925em;}
.footer_wrapper > .copy_wrapper > .copyright {float: left; width: 100%; margin-bottom: 1em;}
.footer_wrapper > .copy_wrapper > .copyright-kr {float: right; width: 100%; margin-bottom: 1em;}



/************************** 반응형 *******************************/
@media (min-width: 576px){
	.main_wrapper .slide {padding-top: 70%;}
	
}
@media (min-width: 768px){
	.wrapper { padding: 0 1rem; }
	.wrapper2 {padding: 0 1rem;}
	.main_wrapper .slide {padding-top: 60%;}
	.link_wrapper .link_wrap:first-child { width: 101%; margin-left: -0.5%;}
	.link_wrapper .link_wrap:last-child { width: 102%; margin-left: -1%;}
	.link_wrapper .link_wrap:first-child > li {width: 32.3333%; margin: 0.25% .5%;}
	.link_wrapper .link_wrap:last-child > li {width: 48%; margin: 0.25% 1%;}

	/* 
	.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap {width: 102%;}
	.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide {float: left; width: 48%; margin-right: 2%;}
	 */
	.evt_wrapper .list_wrapper {width: 102%;}
	.evt_wrapper .list_wrapper > .list {float: left; width: 48%; margin-right: 2%;}
	.info_wrapper > .info_wrap > .info:nth-child(1) {width: 25%;}
	.info_wrapper > .info_wrap > .info:nth-child(2) {width: 25%;}
	.info_wrapper > .info_wrap > .info:nth-child(3) {width: 25%;}
	.info_wrapper > .info_wrap > .info:nth-child(4) {width: 25%;}
	.info_wrapper > .info_wrap > .info:nth-child(5) {width: 100%; display: block;}

	.info_wrapper > .sns_wrap > .divide {display: none;}
	.info_wrapper > .sns_wrap > .sns {border-right: 1px solid #eee;}
	

}
@media (min-width: 992px){
	.wrapper {padding: 0 2rem; }
	.wrapper2 {padding: 0 2rem;}
	.header_wrapper .navi_wrapper2 .icon_wrap > .icon {float: left; margin: 0.625em;}
	.header_wrapper .navi_wrapper2 .icon_wrap img {margin-right: 0.5em; width: auto; }
	.header_wrapper .navi_wrapper2 .icon_wrap span {margin-right: 0.5em;}
	.main_wrapper .slide {padding-top: 50%;}
	.main_wrapper .slide > .content {font-size: 1.875em;}
	.main_wrapper .slide > .content > .slogan > br {display: none;}
	.main_wrapper .slide > .content > .brand > img {max-width: 80%;}

	.best_wrapper > .title_wrapper {background-image: url('../img/bestseller_bg_top.jpg'); background-repeat: no-repeat; background-position: right bottom;}
	.best_wrapper > .slide_wrapper {background-image: url('../img/bestseller_bg_bottom.jpg'); background-repeat: no-repeat; background-position: left bottom;}
	
	
	.evt_wrapper .cont_wrapper > div.banner_wrap {width: 60%;}
	.evt_wrapper .cont_wrapper > div.cont_wrap {width: 40%;}



}
@media (min-width: 1200px){

	.info_wrapper > .info_wrap > .info:nth-child(1) {width: 40%;}
	.info_wrapper > .info_wrap > .info:nth-child(2) {width: 20%;}
	.info_wrapper > .info_wrap > .info:nth-child(3) {width: 20%;}
	.info_wrapper > .info_wrap > .info:nth-child(4) {width: 20%;}
	.info_wrapper > .info_wrap > .info:nth-child(5) {width: 60%;}
	.info_wrapper > .info_wrap > .info > .pop_wrap {bottom: 10%; width: 80%; text-align: left;}
	.info_wrapper > .info_wrap > .info > .pop_wrap > br {display: block;}
	.info_wrapper > .info_wrap > .info > .pop_wrap > span {display: inline;}
	.info_wrapper > .info_wrap > .info > .fa {display: block;}
	.footer_wrapper > .navi_wrapper > .navi_wrap { width: auto; margin-bottom: 0em;}
.footer_wrapper > .navi_wrapper > .navi_wrap > .navi {width: auto; margin-bottom: 0em;}
.footer_wrapper > .navi_wrapper > .navi_wrap > .navi:not(:last-child)::after {content: '|'; display: inline-block; padding: 0 1em;}
.footer_wrapper > .navi_wrapper > .link_wrap {width: auto; border-top: none; border-bottom: none; padding: 0;}
.footer_wrapper > .addr_wrapper > .addr_wrap { width: auto; margin-bottom: 0;}
.footer_wrapper > .addr_wrapper > .cert_wrap { width: auto; padding-top: 0; border-top: none; border-bottom: none;}
.footer_wrapper > .copy_wrapper > .copyright { width: auto; margin-bottom: 1em;}
.footer_wrapper > .copy_wrapper > .copyright-kr { width: auto; margin-bottom: 1em;}

}
@media (min-width: 1400px){
	.header_wrapper .top_wrapper { display: block;}
	.header_wrapper .navi_wrapper {padding-top: 0;}
	.header_wrapper .navi_wrapper .mb_navi_wrap {display: none;} 
	.header_wrapper .navi_wrapper .navi_wrap {display: block;}
	.header_wrapper .main_wrapper .slide {padding-top: 34.73%;}
	.header_wrapper .main_wrapper .slide > .content {font-size: 2.125em;}
	.header_wrapper .main_wrapper .slide > .content > .brand > img {max-width: 100%;}
	.best_wrapper > .title_wrapper {background-position: right 15% bottom;}
	.best_wrapper > .slide_wrapper { background-position: left 20% bottom;}

	/* 
	.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap {width: 101%;}
	.best_wrapper > .slide_wrapper > .slide_stage > .slide_wrap > .slide {float: left; width: 24%; margin-right: 1%;}
	*/
	.evt_wrapper .list_wrapper {width: 101%;}
	.evt_wrapper .list_wrapper > .list {float: left; width: 24%; margin-right: 1%;}
} 
@media (min-width: 1600px){

}